<br>
<br>
<br>
<br>
<br>


<section class="py-3 py-md-5">
  <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
          <div class="col-12 col-lg-6 col-xl-5">
              <img class="img-fluid rounded" loading="lazy" src="https://t4.ftcdn.net/jpg/03/20/52/31/360_F_320523164_tx7Rdd7I2XDTvvKfz2oRuRpKOPE5z0ni.jpg" alt="About Us Image">
          </div>
          <div class="col-12 col-lg-6 col-xl-7">
              <div class="row justify-content-xl-center">
                  <div class="col-12 col-xl-11">
                      <h2 class="mb-3">Who Are We?</h2>
                      <p class="lead fs-4 text-secondary mb-3">
                     <p>   At our health platform, we’re committed to bridging the gap between patients and healthcare providers. Here’s what we offer:
                    </p>
                    <p>   Doctor Registration: Our platform empowers doctors to join our network, connect with patients, and contribute to better healthcare outcomes. If you’re a healthcare professional, register with us to expand your reach and impact.</p>
                     <p>  Medical Posts: Stay informed with our curated medical content. From expert articles to the latest research, we provide valuable insights on health, wellness, and medical advancements. Explore our blog section for thought-provoking posts.
                      </p>
                      <p class="mb-5">
                          We are a fast-growing company that believes in collaboration, innovation, and customer satisfaction. Our goal is to improve healthcare services through technology.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
