
<div class="container ">
<div class=" m-1">
    <div class="card p-2 py-3 text-center">
      <h5 class="m-1">Hello <span class="text-primary">{{ patient.patient.name }}</span></h5>
      <h5 class="mb-1">Your Age Is  {{ patient.patient.age }}</h5>
      @for (appointment of patient.patient.appointments ; track appointment.id) {
      <h5 class="mb-0">Your App Is  {{ appointment.doctor_id }}</h5>
      }
  
      <!-- <div class="ratings mt-2">
        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
      </div> -->
      <!-- <div class="mt-4 apointment">
        <button class="btn btn-success text-uppercase">Book Appointment</button>
      </div> -->
    </div>
  </div>
</div>
  
  
  