<div class="container register-container w-50 p-4 ">
  <div class="card shadow border">
    <div class="card-header ">
  <h3 class="reg ">Register</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="registerForm" class="p-3" (ngSubmit)="handleForm()">

        <div class="form-group">
          <input
          placeholder="Enter the user Name "
          type="text"
          class="form-control my-3 "
          id="name"
          formControlName="name"
          />
          @if (registerForm.get('name')?.errors && registerForm.get('name')?.touched) {
          <div id="emailHelp" class="alert alert-danger p-1 small w-50 mx-auto text-center  ">
            @if ( registerForm.get('name')?.getError("required")) {
              <p> Name is Requried </p>
            }
            @if ( registerForm.get('name')?.getError("minlength")) {
            <p> Name is Min Length 3 </p>
            }
            @if ( registerForm.get('name')?.getError("maxlength")) {
            <p> Name is Max Length 20 </p>
            }
          </div>
        }
        </div>

        <div class="form-group">
          <input
          placeholder="Enter the Email "
            type="email"
            class="form-control my-3"
            id="email"
            formControlName="email"
            name="email"
          />
          @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched) {
            <div id="emailHelp" class="alert alert-danger p-1 small w-50 mx-auto text-center  ">
              @if ( registerForm.get('email')?.getError("required")) {
                <p> Email is Requried </p>
              }
              @if ( registerForm.get('email')?.getError("email")) {
              <p> Enter the email </p>
              }

        </div>
      }
        </div>

        <div class="form-group  d-flex justify-content-around align-items-center">
          <div class="male">

            <label class="p-2" for="Male">Male :</label>
            <input  type="radio" id="Male"
            name="gender"
             value="male"
            formControlName="gender"
            >
          </div>

            <div class="female">
              <label class="p-2" for="Female">Female :</label>
              <input  type="radio"
               id="Female"
               name="gender"
               value="female"
              formControlName="gender"
              >
            </div>
            @if (registerForm.get('gender')?.errors && registerForm.get('gender')?.touched) {
              <div id="emailHelp" class="alert alert-danger p-1 small w-50 mx-auto text-center  ">
                @if ( registerForm.get('gender')?.getError("required")) {
                  <p> Gender is Requried </p>
                }
                </div>
              }
              </div>

        <div class="form-group">

          <input
          placeholder="Enter the Password "
            type="password"
            class="form-control my-3"
            id="password"
            formControlName="password"
            name="password"
          />
          @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched) {
            <div id="emailHelp" class="alert alert-danger p-1 small w-50 mx-auto text-center  ">
              @if ( registerForm.get('password')?.getError("required")) {
                <p> password is Requried </p>
              }
              @if ( registerForm.get('password')?.getError("pattern")){
                <p> min lenth 6  </p>
              }

            </div>
          }
        </div>

        <div class="form-group">

       <input type="tel" id="number"
        formControlName="number"
       class="form-control my-3"
       placeholder="Enter the number"
       name="number"
          >
          @if (registerForm.get('number')?.errors && registerForm.get('number')?.touched) {
            <div id="emailHelp" class="alert alert-danger p-1 small w-50 mx-auto text-center  ">
              @if ( registerForm.get('number')?.getError("required")) {
                <p> Number is Requried </p>
              }
        </div>
      }
        </div>

        <div class="form-group">

       <input type="number" id="age"
        formControlName="age"
       class="form-control my-3"
       placeholder="Enter the age"
       name="age"
          >
          @if (registerForm.get('age')?.errors && registerForm.get('age')?.touched) {
            <div id="emailHelp" class="alert alert-danger p-1 small w-50 mx-auto text-center  ">
              @if ( registerForm.get('age')?.getError("required")) {
                <p> Age is Requried </p>
              }
        </div>
      }
        </div>

        <div class="form-group">

       <input type="text" id="address"
        formControlName="address"
       class="form-control my-3"
       placeholder="Enter the address"
       name="address"
          >
          @if (registerForm.get('address')?.errors && registerForm.get('address')?.touched) {
            <div id="emailHelp" class="alert alert-danger p-1 small w-50 mx-auto text-center  ">
              @if ( registerForm.get('address')?.getError("required")) {
                <p> Adress is Requried </p>
              }
        </div>
      }
        </div>

        <div class="form-group  d-flex justify-content-around align-items-center">

            <div class="doctor">
              <label class="p-2" for="Doctor" >Doctor :</label>
              <input class="p-0" type="radio" id="Doctor" name="is_admin"
              formControlName="is_admin"
              value="doctor"
              (click)="showDepartement()"
               >
              </div>
              <div class="patient">
               <label class="p-2" for="patient">patient : </label>
            <input type="radio" id="patient" name="is_admin"
            formControlName="is_admin"
            value="patient"
            (click)="removeDepartement()"
            >

            @if (registerForm.get('is_admin')?.errors && registerForm.get('is_admin')?.touched) {
              <div id="emailHelp" class="alert alert-danger p-1 small w-50 mx-auto text-center  ">
                @if ( registerForm.get('is_admin')?.getError("required")) {
                  <p> select the Position </p>
                }
            </div>
          }
            </div>
            <div class="departement d-none" id="departement">
              <select class="form-control" id="departement" name="department_id" formControlName="department_id">
                <option disabled selected value="">Select the Department</option>
                @for (date of departments ; track date.id) {
                  <option name="date"   [value]="date.id">{{date.name}}</option>
                }
              </select>
              <!-- <input class="my-2 form-control" type="text" id="departement" name="department_id"
              formControlName="department_id"
              placeholder="Enter the departement id"
               > -->
               @if (registerForm.get('departement')?.errors && registerForm.get('departement')?.touched) {
                <div id="emailHelp" class="alert alert-danger p-1 small w-50 mx-auto text-center  ">
                  @if ( registerForm.get('departement')?.getError("required")) {
                    <p> departement is Requried </p>
                  }
            </div>
          }
            </div>
          </div>

<div class="btnn">
  <button
  type="submit"
  class="btn w-50 mt-3 "
>
  Register
</button>
</div>
      </form>
      @if (this.error) {
        <p class="alert alert-danger p-1 w-50 mx-auto mb-0">{{this.error}}</p>
      }
    </div>
</div>
</div>
