section{
  background-image: url(../../assets/Photos/bg10.jpg) !important ;
  object-fit: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 50px 10px;
  background-attachment: fixed;

}


.line {
  width: 0;
}

.text {
  overflow: hidden;
}

.img {
  width: 50% !important;
  padding: 0 50px;
  height: 40vh;
}

.img img {
  object-fit: contain;
  height: 100%;
  max-height: 400px;
}

.homepage {
  text-decoration: none;
  color: gold;
  font-weight: bold;
}
.imgClinic
{
  width: 50px;
  height: 50px ;
  border-radius: 50%;
}
.imgClinic-container{
  direction: rtl ;
}

.title,
.text .text-white,
.vote ,
.description{
   animation: titleMove 2s forwards ease-in;
   transform: translateX(-110%);
}


@keyframes titleMove {
  0% {
    transform: translateX(-110%);
  }

  100% {
    transform: translateX(0%);
  }
}



.modal-body input {
  margin: 5px;
  padding: 5px 10px;
  font-family: emoji !important;
  letter-spacing: 3px;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 1px solid black;
  padding-left: 5%;
}

.inputDiv {
  position: relative;
}

.inputDiv svg {
  position: absolute;
  top: 29%;
}
.sign
{
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  padding: 5px;
}
.bg-green
{
  background-color: #35d69b;
}
.BookContainer
{
  height: 100px;
  text-align: center;
  margin-top: 50px;
}
.btn-book
{
  height: 100%;
  width: 100px;
  border-radius: 50% !important;
}

.btn-book {
  border-radius: 100%;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgba(4, 179, 13, 0.698) 0px 0px 0px 0px;
  animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
  align-items: center;
  border: 0;
}

.btn-book:is(:hover, :focus) {
  transform: scale(1.2);
}

@keyframes pulse {
  100% {
    box-shadow: 0 0 0 45px rgba(193,244,246,0);
  }
}


.patient-image
{
  border-radius: 50%;
}
.comment-container
{
  border-left: 2px solid blue;
  font-weight: bold;
  font-size: x-large;
}
