<section class="mt-5">
  <div class="container1 d-flex w-50 mt-5">
    <div class="img">
      <img src="http://127.0.0.1:8000/{{doctor.doctor.image}}" class="w-100"  alt="" />
    </div>

    <div class="details ps-md-5 d-flex align-items-start">
      <div class="line h-100 border border-1"></div>

      <div class="text px-md-5 pt-3">
        <div class="title">
          <h2>Dr : {{ doctor.doctor.name }}</h2>
          <p class="text-primary fs-3 ">Available</p>
        </div>

        <p class="description pt-lg-2">
          <span class="fw-bold">speciality </span>:
          <span>{{ doctor.doctor.department.name }}</span>
        </p>
        <p class="description pt-lg-2">
          <span class="fw-bold">age: </span>:
          <span>{{ doctor.doctor.age }}</span>
        </p>
        <p class="description pt-lg-2">
          <span class="fw-bold">Address </span>:
          <span>{{doctor.doctor.address}}</span>
        </p>
        <p class="description pt-lg-2">
          <span class="fw-bold">Feas </span>:
          <span> 200 <span class="fw-bold">Eg</span></span>
        </p>


      </div>
    </div>
  </div>

  <div class="mx-5 BookContainer  mb-2">
    @if(isAuth){
      <button
      type="button"
      class="btn bg-green btn-book mt-2 "
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      احجز الان
    </button>
    }@else {
      <button
      type="button"
      class="btn bg-green btn-book mt-2 "
      [routerLink]="['/home/login']"
    >
      احجز الان
    </button>
    }

    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              ادخل بيانات الحجز
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container m-1">
              <form [formGroup]="appForm" (ngSubmit)="handleSubmitForm()" >
                <div class="mb-3">
                  <label for="Til" class="form-label">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="titleInput"
                    aria-describedby="TitleHelp"
                    name="note"
                    formControlName="note"

                  />
                   @if (appForm.controls['note'].invalid && appForm.controls['note'].touched) {
                    @if (appForm.controls['note'].errors?.['required']) {
                        <span  class="form-text text-danger">these field is required.</span>

                    }
                    @if (appForm.controls['note'].errors?.['minlength']) {
                        <span  class="form-text text-danger">Min length is 5.</span>

                    }
                  }

                </div>
                <div class="mb-3">
                  <label for="Description" class="form-label">Description</label>
                  <textarea
                    class="form-control"
                    id="Description"
                    cols="5"
                    rows="5"
                    name="description"
                    formControlName="description"


                  ></textarea>
                  @if (appForm.controls['description'].invalid && appForm.controls['description'].touched) {
                    @if (appForm.controls['description'].errors?.['required']) {
                        <span  class="form-text text-danger">these field is required.</span>

                    }
                    @if (appForm.controls['description'].errors?.['minlength']) {
                        <span  class="form-text text-danger">Min length is 10.</span>

                    }
                    @if (appForm.controls['description'].errors?.['maxlength']) {
                        <span  class="form-text text-danger">Min length is 100.</span>

                    }
                  }

                </div>

                  <div class="mb-3">
                  <label for="doctorId" class="form-label">chosse date</label>
                  <select class="form-control" id="doctorId" name="date" formControlName="date">

                    @for (date of  freetime.freetimes ; track date.id) {
                      <option name="date"  [value]="date.id">  {{date.days}}  {{date.doctor_freetimes | date : 'h:mm a'}} : {{date.doctor_freetimesto | date : 'h:mm a'}} </option>

                    }

                  </select>
                </div>


                <div class="mb-3">

                    <input type="hidden" class="form-control "  id="doctor" name="doctor" [value]="doctor.doctor.name"  formControlName="doctor" />
                </div>

                <div class="mb-3 d-none">
                  <label for="patientId" class="form-label">Patient ID</label>
                  <input type="number" class="form-control "  id="patientId" name="patient_id" [value]="userId"  formControlName="patient_id" />
                </div>



                <div class="mb-3">

                  <input
                    type="hidden"
                    class="form-control"
                    id="Price "
                    aria-describedby="priceHelp"
                    name="price"
                    formControlName="price"
                    value="doctor.doctor.price"
                  />
                </div>
                @if (appForm.controls['price'].invalid && appForm.controls['price'].touched) {
                    @if (appForm.controls['price'].errors?.['required']) {
                        <span  class="form-text text-danger">these field is required.</span>
                    }
                  }
                <button type="submit" class="btn btn-primary w-100" [disabled]="appForm.invalid">Submit</button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary w-100"
              data-bs-dismiss="modal"
            >
              Close
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-5 my-5  bg-light mb-5">
    <div class="bg-primary">
      <h1 class="text-light px-3 text-center">Comments</h1>
    </div>

    <!-- Comment Form -->
    <div class="p-3">
      <form (ngSubmit)="submitForm()">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Add Comment</h1>
            </div>
            <div class="col-md-6">
              <!-- Additional hidden inputs for patient_id and doctor_id -->
              <input type="hidden" name="patient_id" [(ngModel)]="userId">
              <input type="hidden" name="doctor_id" [(ngModel)]="doctorId">
              <!-- Additional textarea for text comment -->
              <div class="mb-3">
                <label for="textComment" class="form-label">Text Comment</label>
                <textarea
                  class="form-control"
                  id="textComment"
                  rows="3"
                  [(ngModel)]="textComment"
                  name="textComment"
                ></textarea>
              </div>
              <div class="mb-3">
                <label for="rate" class="form-label">Rate</label>
                <select
                  class="form-select"
                  id="rate"
                  [(ngModel)]="rate"
                  name="rate"
                >
                  <option value="0"> No rate</option>
                  <option value="1"> 1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <!-- Button to add new comment -->
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-plus"></i> Add New Comment
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>


    <div class="mx-5 my-5  bg-light mb-5 row p-5" >
      @for(comment of comments ; track comment.id ){

        <div class="one-comment row m-2">
          <div class="col-md-1 d-flext flex-column align-items-center justify-content-center text-center" >
            <img width="100%" src="https://marketplace.canva.com/EAFqNrAJpQs/1/0/1600w/canva-neutral-pink-modern-circle-shape-linkedin-profile-picture-WAhofEY5L1U.jpg" class="patient-image" alt="">
            <!-- <p>{{comment.user.name}}</p> -->
          </div>

          <div class="col-md-1" ></div>
          <div class="col-md-8 comment-container " >
            {{ comment.comment  }}
          </div>
        </div>


      }

    </div>



</section>
