<section class="row p-5">
  <div class="col-md-5">
    <iframe
      width="100%"
      height="315"
      src="https://www.youtube.com/embed/jh5U5BnpGN8?si=2n9J-DVPV26tM6OD"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <div class="col-md-5 mx-auto d-flex justify-content-around flex-column">
    <h1>Health Care</h1>
    <p style="line-height: 2;" >
      This section of the Health Care web site is a place for discussion of ways to
    improve the quality and usefulness of information for the public about
    science and health. The overall goal is to share strategies and best
    practices that might contribute to public understanding of the nature of
    biomedical research and its role in health.
    </p>
  </div>
</section>
